.div1{
    background-color: brown;
    height:300px ;
    width: 50%;
    padding: 10px;
    border: 5px gray solid;
    box-sizing: border-box;
}
.div2{
    background-color: rgb(233, 8, 8);
    height:300px ;
    width: 50%;
}
div3{
    background-color: gold;
    height:300px ;
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
