body{
    background-image: url("Untitled1.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-attachment: fixed;
    background-size: 400px;

}
p{
    color: red;
    font-size: 25px;
}
h1{
    text-align: center;
    color: blue;
}